/*
Universal Elements
*/
* {
  box-sizing: border-box;
}

header, footer {
    display: flex;
    background-color: #08D9D6;
    padding: 0;
    margin: 0;
}

footer {
  background-color: #252A34;
  margin-top: 20px;
}

.navBar {
  display: flex;
  background-color: #252A34;
}

.navBar a {
  color: #EAEAEA;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


section {
  display: flex;
  margin-top: 20px;
}
section h1 {
/*  background-color: #174db9;*/
  /*margin-right: 5%; */
}
section article {
  position: relative;
  margin-left: 5%;
 /* background-color: #14bd3e;*/
}
/*
Class Elements
*/
#contacts{
    display: flex;  
    background-color: #FF2E63;
}

.oneProject{
    display: flex;
    background-color: #EAEAEA;
    border: 10px solid #dd0707;
    height: 300px;
    width: 100%;
}
  
.oneProject a img{
    height: 150px;
    border: 5px solid white;
  /*  margin-left: 10px;*/
}

.oneProject h2{
  /*margin-left: 10px;*/
}

.oneProject p{
  /*margin-left: 10px;*/
}
/*
Id elements
*/
#avatar{
  display: flex;
  width: 100px;
}


#bannerImage{
    width: 100%;
}
#aboutMe{
  background-color: #FF2E63;
}

#showProjects{
  background-color:#FF2E63;
/*  flex-wrap: wrap;
  flex-direction:row*/
}


@media screen and (max-width:768px){
  nav {
    flex-direction: column;
    background-color: rgb(221, 54, 54);
  }
  #showProjects article{
    flex-direction: column;
  }
}