/*
Universal Elements
*/
* {
    box-sizing: border-box;
  }

header, footer {
    background-color: aqua;
    padding: 0;
    margin: 0;
}
nav {
    background-color: rgb(221, 54, 54);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

/*
Class Elements
*/
.aboutMe{
    background-color: yellow;
}
.projects{
    background-color: yellow;
}
.contacts{
    background-color: yellow;
}


/*
Id elements
*/
#bannerImage{
    width: 100%;
}


@media screen and (max-width:768){
    
}