/*
Universal Elements
*/
* {
    box-sizing: border-box;
  }

header, footer {
    display: flex;
    background-color: aqua;
    padding: 0;
    margin: 0;
}

.navBar {
  display: flex;
  background-color: #d8a47f;
}

.navBar a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

  #contacts{
    display: flex;
  }
/*
Class Elements
*/
#aboutMe{
    background-color: yellow;
}

#showProjects{
    background-color: yellow;
}
.contacts{
    background-color: yellow;
}

.oneProject{
    display: flex;

    background-color: gainsboro;
    border: 10px solid blue;
    padding: 5px;
}

.oneProject a img{
    height: 150px;
}

/*
Id elements
*/
#bannerImage{
    width: 100%;
}


@media screen and (max-width:768px){
  nav {
    flex-direction: column;
    background-color: rgb(221, 54, 54);
}
}